body {
  background-color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
}

/* HEADINGS */

.header--main {
  font-weight: normal;
  font-size: 50px;
}

.header--secondary {
  font-weight: 300;
  font-size: 42px;
}

.sub-header {
  font-size: 21px;
  color: grey;
  font-weight: 300;
}

/* LINKS */

.link--cta {
  font-size: 16px;
  color: aquamarine;
}

/* FOOTER */

.footer--copyright {
    font-size: 21px;
    text-align: right;
    color: grey;
}